<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303314621604-gaovjijr8d1kupo5ivni1v6o8hmvlthg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303314621604-gaovjijr8d1kupo5ivni1v6o8hmvlthg</string>
	<key>API_KEY</key>
	<string>AIzaSyBLL69yiQGYIH-Z4LVqG1LQQ6puxQPh0y8</string>
	<key>GCM_SENDER_ID</key>
	<string>303314621604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-78a50</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-78a50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303314621604:ios:cc321c0637601866b7c231</string>
</dict>
</plist>